.container {
	background-image: linear-gradient(to right, #ccc5c5, #8c7cc7);
	text-align: left;
	}
h1 {
        text-align: center
    }
a  {
    color: rgb(177, 13, 13)
}
b{
    color: rgb(35, 30, 104)
}